@media (min-width: 1100px) and (max-width: 1299px) {
  h1 {
    font-size: 2.25rem; /* equivale a 36px */
  }

  p {
    font-size: 1.5rem; /* equivale a 24px */
  }

  .estilo-texto,
  .container,
  .container-secao {
    margin: 0 0.75rem; /* equivale a 12px */
  }

  .versao {
    padding: 0.875rem; /* equivale a 14px */
  }

  .versao h1 {
    font-size: 1.5rem; /* equivale a 24px */
  }

  .versao p {
    font-size: 1.25rem; /* equivale a 20px */
  }
}
