@media (min-width: 1500px) and (max-width: 1699px) {
  h1 {
    font-size: 2.5rem; /* equivale a 40px */
  }

  p {
    font-size: 1.75rem; /* equivale a 28px */
  }

  .estilo-texto,
  .container,
  .container-secao {
    margin: 0 1rem; /* equivale a 16px */
  }

  .versao {
    padding: 1.125rem; /* equivale a 18px */
  }

  .versao h1 {
    font-size: 1.75rem; /* equivale a 28px */
  }

  .versao p {
    font-size: 1.5rem; /* equivale a 24px */
  }
}
