@media (min-width: 500px) and (max-width: 699px) {
  h1 {
    font-size: 1.875rem; /* equivale a 30px */
  }

  p {
    font-size: 1.125rem; /* equivale a 18px */
  }

  .estilo-texto,
  .container,
  .container-secao {
    margin: 0 0.375rem; /* equivale a 6px */
  }

  .versao {
    padding: 0.625rem; /* equivale a 10px */
  }

  .versao h1 {
    font-size: 1.125rem; /* equivale a 18px */
  }

  .versao p {
    font-size: 1rem; /* equivale a 16px */
  }
}
