@media (min-width: 700px) and (max-width: 899px) {
  h1 {
    font-size: 2rem; /* equivale a 32px */
  }

  p {
    font-size: 1.25rem; /* equivale a 20px */
  }

  .estilo-texto,
  .container,
  .container-secao {
    margin: 0 0.5rem; /* equivale a 8px */
  }

  .versao {
    padding: 0.75rem; /* equivale a 12px */
  }

  .versao h1 {
    font-size: 1.25rem; /* equivale a 20px */
  }

  .versao p {
    font-size: 1.125rem; /* equivale a 18px */
  }
}
