@media (min-width: 900px) and (max-width: 1099px) {
  h1 {
    font-size: 2.125rem; /* equivale a 34px */
  }

  p {
    font-size: 1.375rem; /* equivale a 22px */
  }

  .estilo-texto,
  .container,
  .container-secao {
    margin: 0 0.625rem; /* equivale a 10px */
  }

  .versao {
    padding: 0.875rem; /* equivale a 14px */
  }

  .versao h1 {
    font-size: 1.375rem; /* equivale a 22px */
  }

  .versao p {
    font-size: 1.25rem; /* equivale a 20px */
  }
}
