<body>
  <h1>Curiosidades — Pelo dev</h1>
  <div class="container-secao">
    <div class="card" style="text-align: left">
      <h1>👽 A Película Alienígena — 07/08/2025</h1>
      <p>
        Hoje instalei uma película que parece saída direto de um filme
        <i>sci-fi</i>. Ela não só protege meu celular — ela
        <strong
          >se ajusta automaticamente à tela, tem capacidade de autoreparo e
          ainda funciona perfeitamente em telas curvas</strong
        >
        (como a minha 😎).
      </p>
      <p>
        As películas de hidrogel usam uma tecnologia que permite que
        <strong>pequenos arranhões desapareçam com o tempo</strong>, como se
        fossem curadas por nanorrobôs invisíveis. Mesmo que você arranhe, ela
        volta ao normal. E o melhor: se adapta perfeitamente à tela, garantindo
        uma proteção completa e discreta.
      </p>
      <p>
        Diferente das tradicionais de vidro temperado, essa pode ser aplicada em
        <strong>telas arredondadas ou Edge</strong>, sem deixar bordas expostas
        ou comprometer o toque.
      </p>
      <p style="text-align: center; margin: 1rem">
        <strong style="color: blue"
          >Aqui vai alguns <i>links</i> para quem deseja saber mais:</strong
        >
      </p>
      <ul>
        <li>
          <a href="https://novosmart.com.br/pelicula-de-hidrogel/"
            >Novo Smart</a
          >
        </li>
        <li>
          <a href="https://levshop.com.br/pelicula-de-hidrogel-e-boa/"
            >LevShop</a
          >
        </li>
        <li>
          <a href="https://reiscell.com.br/pelicula-de-hidrogel-guia-completo/"
            >Reis Cell Premium</a
          >
        </li>
      </ul>
      <hr />
    </div>
  </div>
</body>
