<footer>
  <img
    src="assets/images/rodape/abt.png"
    alt="Imagem com fundo preto. Na parte superior, lê-se “Anu Birdo” em letras 
    brancas. Ao centro, em destaque, está a sigla “ABT” em letras verdes 
    grandes, com duas linhas horizontais verdes — uma acima e outra abaixo da 
    sigla. Na parte inferior, aparece a palavra “Teknologio” também em branco. 
    As fontes são modernas e limpas, transmitindo uma estética tecnológica e 
    minimalista."
    style="height: 50px; border-radius: 3.125rem"
  />
  <p>Versão beta</p>
  <p style="text-align: left; margin-top: 1rem">
    Daí pessoal, aqui é o dev. Como vocês devem ter notado o site ainda está em
    fase beta, mas o que isso segnifica? Bem, para quem não sabe, isso é quando
    algo está sendo desenvolvido, testado e aprimorado. Ou seja, é como se fosse
    uma prévia do que está por vir. Então, se você encontrou algum bug ou má
    resolução em sua tela, não se preocupe! É normal nessa fase. Estou
    trabalhando duro para corrigir tudo e deixar o site ainda melhor. Agradeço
    pela compreensão e paciência.
  </p>
</footer>
