<body>
  <h1>Rotina do dev: caos organizado (ou quase 😅)</h1>
  <div class="container-secao">
    <div class="card">
      <h1>Segunda-feira</h1>
      <ul style="text-align: left">
        <li>
          <strong>Linguagem do dia</strong><br /><i
            class="fa-brands fa-java"
            style="color: red"
            ><span>Java</span></i
          >
        </li>
        <li>
          <strong>Idioma do dia</strong>:<br /><i class="emoji-icone"
            >🗽<span>Inglês</span></i
          >
        </li>
        <li>
          <strong>Atividade complementar</strong><br /><i class="emoji-icone"
            >📏<span>Matemática</span></i
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <h1>Terça-feira</h1>
      <ul style="text-align: left">
        <li>
          <strong>Linguagem do dia</strong><br /><i
            class="fa-brands fa-html5"
            style="color: orange"
            ><span>HTML</span></i
          >
        </li>
        <li>
          <strong>Idioma do dia</strong>:<br /><i class="emoji-icone"
            >🪇 <span>Espanhol</span></i
          >
        </li>
        <li>
          <strong>Atividade complementar</strong><br /><i class="emoji-icone"
            >🎨 <span>Desenho</span></i
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <h1>Quarta-feira</h1>
      <ul style="text-align: left">
        <li>
          <strong>Linguagem do dia</strong><br /><i
            class="fa-brands fa-css3-alt"
            style="color: blue"
            ><span>CSS</span></i
          >
        </li>
        <li>
          <strong>Idioma do dia</strong>:<br /><i class="emoji-icone"
            >🌎 <span>Esperanto</span></i
          >
        </li>
        <li>
          <strong>Atividade complementar</strong><br /><i class="emoji-icone"
            >📐 <span>Física</span></i
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <h1>Quinta-feira</h1>
      <ul style="text-align: left">
        <li>
          <strong>Linguagem do dia</strong><br /><i
            class="fa-brands fa-js"
            style="color: yellow"
            ><span>JS</span></i
          >
        </li>
        <li>
          <strong>Idioma do dia</strong>:<br /><i class="emoji-icone"
            >🗾 <span>Japonês</span></i
          >
        </li>
        <li>
          <strong>Atividade complementar</strong><br /><i class="emoji-icone"
            >🎻 <span>Violino</span></i
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <h1>Sexta-feira</h1>
      <ul style="text-align: left">
        <li>
          <strong>Linguagem do dia</strong><br /><i
            class="fa-brands fa-c"
            style="color: white"
            ><span>C</span></i
          >
        </li>
        <li>
          <strong>Idioma do dia</strong>:<br /><i class="emoji-icone"
            >👘 <span>Mandarim</span></i
          >
        </li>
        <li>
          <strong>Atividade complementar</strong><br /><i class="emoji-icone"
            >⚛️ <span>Física Quântica</span></i
          >
        </li>
      </ul>
    </div>
    <div class="card">
      <h1>Final de Semana</h1>
      <ul style="text-align: left">
        <li>
          <i class="emoji-icone">↩️ <span>Revisão</span></i>
        </li>
        <li>
          <i class="emoji-icone">✍🏻 <span>Caligrafia</span></i>
        </li>
      </ul>
    </div>
  </div>
</body>
