header, footer {
  position: relative;
  background: linear-gradient(180deg, #4caf50, #a5d6a7);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.footer {
  background: linear-gradient(180deg, #a5d6a7, #4caf50);
}